[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipython = "*"
jupyter-require = {editable = true, ref = "master", git = "https://github.com/CermakM/jupyter-require"}

[dev-packages]

[requires]
python_version = "3.6"
